services:
  postgres:
    image: postgres:17
    container_name: pg_db
    ports: 
      - "5437:5432"
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - task-management-network
  redis: 
    image: redis:8-alpine
    container_name: redis_cache
    ports:
      - "${REDIS_PORT}:6379"
    env_file:
      - .env
    command: redis-server --appendonly yes
    volumes: 
      - redis_data:/data
    networks:
      - task-management-network
volumes: 
  postgres_data:
  redis_data:
networks:
  task-management-network:
    driver: bridge
