services:
  postgres:
    image: postgres:17
    container_name: pg_db
    ports: 
      - "5437:5432"
    restart: on-failure
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - task-management-network
volumes: 
  postgres_data:
networks:
  task-management-network:
    driver: bridge
